<html>

    <head>
      {% load static %}
      <link type='text/css' href='{% static 'css/login.css' %}' rel='stylesheet' />
    <title>
        {%block title %}  
        {{title}}
        {% endblock %}
       </title>
    </head>
       <body>
        <script src="'{% static 'js/multi.js' %}'"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        {{path}}
        <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->
        
            <!-- Icon -->
            <div class="fadeIn first">
              <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
            </div>
        
            <!-- Login Form -->
            <form>
              <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
              <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
              <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
        
            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a class="underlineHover" href="#">¿olvidaste tu contraseña?</a>
              <a class="underlineHover" href="{% url 'register' %}">registrate</a>
            </div>
        
          </div>
        </div>
        
       </body>


</html>