<html> 
    <head>
        {% load static %}
        <link type='text/css' href='{% static 'css/registro.css' %}' rel='stylesheet' />
      <title>
          {%block title %}  
          {{title}}
          {% endblock %}
         </title>
      </head>
<body>
    <form class="form" method="POST">
        {% csrf_token %}
   {{ form }}
   <button type="submit">guardar</button>
    </form>
</body>

</html>